body {
	background-image: url('../img/retina_wood.png');
}

.jumbotron {
	background: #8D4BB3;
	font-family: 'Oswald';
}

#gameboard {
	width: 66%;
}

#footer-list a {
	background: white;
	border: 1px solid yellow;
}

#footer-list a:hover {
	text-decoration: none;
	background: #8D4BB3;
	color: yellow;
}

footer {
	background: #8D4BB3;
	padding-bottom: 5rem;
}

th, td {
	padding: 1rem;
}

/*Stack footer li's from medium screen size and below */
@media (max-width: 992px) {
	#footer-list li {
		display: block;
	}
}















