body {
	background-image: url('../img/retina_wood.png');
}

.jumbotron {
	background: #265a88;
	font-family: 'Oswald';
}

.score-title {
	text-transform: uppercase;
	text-decoration: underline;
}

.board-title {
	font-weight: bold;
}

.card {
	padding-bottom: 1rem;
}
















