/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.game-container {
    background: url('../img/retina_wood_@2X.png') repeat;
    padding: 1rem;
    overflow: hidden;
}
.info-display {
    margin-top: 1rem;
}
.back {
    background: url('../img/skulls.png') repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 100;
    margin: 0;
    padding: 0;
}
#card-list {
    list-style-type: none;
}
#card-list:after {
    clear: both;
}
.card, .matchedCard {
    display: inline-block;
    float: left;
    width: 90px;
    height: 148px;
    margin: 1rem;
}
.hidden {
    display: none;
}
hr {
    clear: both;
}














